/* .ack-parent {
    display: flex;
    flex-direction: row;
} */

.ack-title {
    font-family: Poppins Bold;
    font-size: 30px;
    position: relative;
    left: 45%;
    margin: 5px 0 5px 0;
}

.row {
    display: flex;
  }
  
 .column {
    flex: 1%;
    padding: 10px;
  }